*{
 background-image: url(images/bg1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: wheat;
  font-family:monospace;
  background-attachment: fixed;
}
p,ul,li{
 text-align:justify;
}
.header {
    width:100%;
    height: 50px;
    margin: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    text-transform: uppercase;

  }
  .logoimage{
    width: 60px;
    height: 60px;
    display: inline;
    border-radius: 50%;
  }
  .header h1{
    font-size: 15px;
  }
  .header2 {
    text-align: center;
  }
  .header2 h1{
    font-size: 50px;
    text-shadow: 1px 2px red;
  }
  .container{
    margin-top: 50px;
  }
  .calculator{
    width: 100%;
    min-height: 200px;
    box-sizing: border-box;
    padding: 50px;
    background: transparent;
    
  }
  .cal{
    width: 500px;
    min-height: 100px;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    background: transparent;
    margin-left: 25%;
  }
  
  .type{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
  }
  .bmi_info{
    min-height: 200px;
    padding: 40px;
    font-size: 20px;
    box-sizing: border-box;
    background: transparent;
  }
  .bmi_info p{
    text-indent: 70px;
  }
 .bmi_info h4{
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
  background: transparent;
  color: yellow;
  font-size: 40px;
 }
 .table{
  width: 50%;
  border: 1px wheat solid;
  margin-left: 30%;
  background: transparent;
 }
 h3{
  font-style: italic;
  color: yellow;

 }
 .button{
  font-size: 20px;
  color: red;
  border-radius: 10px;
  position: relative;
  left: 35%;
 }
 #age,#weight,#height{
  border-radius: 10px;
  font-size: 15px;
  color: red;
 }
 #result{
  color: green;
  margin-top: 20px;
 }
 .shortInfo{

  width: 400px;
  min-height: 100px;
  margin-left: 25%;
  margin-top: 10px;
 }
h3{
  font-size: 25px;
}
.footer{
  width: 100%;
  min-height: 50px;
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 2px red;
  box-shadow: 1px 1px 10px 10px black;
  padding: 10px;
}
